@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    background-image: url(./bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h2 {
    background-color: #fff;
    color: hsl(112, 37%, 44%);
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    z-index: 1;
}

.loading {
    width: 50px;
    border-radius: 50%;
}

#thank {
    background-color: rgb(255, 255, 255, 0.4);
}

img.bg {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    opacity: 0.3;
}

form {
    min-width: 40%;
    align-items: center;
    z-index: 1;
}

input[type='text'] {
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;
    color: hsl(0, 0%, 20%);
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    border: none;
    border-radius: 5px;
    outline: none;
}

label {
    color: #fff;
}

input[type='submit'] {
    font-family: 'Mukta', sans-serif;
    color: #fff;
    font-size: 0.9em;
    background-color: #8AC581;
    padding: 0.65rem 2.5rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}